{% capture fig_img %}
[![Foo]({{ site.url }}{{ site.baseurl }}{{ include.image }})]({{ include.url }})
{% endcapture %}

{% capture fig_title %}
{{ include.name }}
{% endcapture %}
{% capture fig_caption %}
{{ include.name }}
{% endcapture %}

<figure style="width: 300px" class="{{ include.align }}">
  {{ fig_img | markdownify | remove: "<p>" | remove: "</p>" }}
  <figtitle>{{ fig_title | markdownify | remove: "<p>" | remove: "</p>" }}</figtitle>
  <figcaption>{{ fig_caption | markdownify | remove: "<p>" | remove: "</p>" }}</figcaption>
</figure>
