/* ==========================================================================
   ARCHIVE
   ========================================================================== */

.archive {
  margin-bottom: 2em;

  @include breakpoint($medium) {
    @include span(12 of 12);
  }

  @include breakpoint($large) {
    @include span(10 of 12 last);
    @include prefix(0.5 of 12);
  }

  a {
    color: inherit;
    text-decoration: none;
  }

width:78% !important;

}

.archive__subtitle {
  margin: 1.414em 0 0;
  padding-bottom: 0.5em;
  padding-top: 0.55em;
  font-size: $type-size-5;
  font-family: 'PT Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial;
  /*color: mix(#fff, $gray, 25%);*/
  /*border-bottom: 1px solid $border-color;*/
  color: #2a94ba;
  border-bottom: 1px solid #f2f3f3;
  background-color: rgba(46, 162, 204, 0.08);
  border-left: solid 5px #2ea2cc;
  padding-left: 1%;
  margin-bottom: 1.5em;


  + .list__item .archive__item-title {
    margin-top: 0.6em;
    font-family: 'PT Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial;
  }
}

.archive__item-title {
  margin-bottom: 0.65em;
  font-family: 'PT Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial;

  a + a {
    opacity: 0.5;
    font-family: 'PT Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial;
  }
}

/* remove border*/
.page__content {

  .archive__item-title {
    margin-top: 1em;
    border-bottom: none;
    font-family: 'PT Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial;

  }
}

.page__content a:hover {
    text-decoration:none;
    color: #2a94ba;
}

.page__content a{
    text-decoration:none;
      color: #2a94ba;
}

.page__content p {
  text-align: justify;
}

.journal{

    font-family: 'PT Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial !important;
    color: #9fa0a6 !important;
}

.aboutPhil {
    margin-top: 0;
    line-height: 1.2;
    color: #288caf;
    font-size: 2em;
    margin-bottom: 0.5em;
}

.grantamount{
color: #9fa0a6;

}

.amount_meta {
    margin-bottom: 0.2em;
}

.donor_meta {
    margin-top: 0;
    margin-bottom: 0.2em;
}

.donor {
    color:#2a94ba;
}

.fa.fa-thumbs-o-up {
    color:#2a94ba;
}

a.grant_link {
    color: rgba(32, 126, 166, 0.58);
}

.fa.fa-bookmark-o {
    color: #9fa0a6 !important;
}

.fa.fa-usd {
    color: #9fa0a6;
}

.fa.fa-shield{
   color: #2a94ba;
}

.cvyear {
    color:#2a94ba;
}

.cvtalkslist {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}

.cvrole {
    font-weight: bold;
}

.cvwho {
    color: #a9adaf;
}

.cvlocation {
    color: #a9adaf;
}

a.url_link {
    color: #2a94ba;
}

a.cvlink {
    color: #2a94ba;
}

table {
    font-family: 'PT Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial !important;
    border: 0px solid #bdc1c4;
}

td {
    padding: 0.5em;
    border-bottom: 10px solid #ffffff;
    border-right: 1px solid #bdc1c4;
    padding-top: 0.1em;
    padding-bottom:0.1em;
}

td.left {
    width: 12%;
    border-right: 1px solid #bdc1c4;
    color: #a9adaf;
    padding-right: 0em;
    vertical-align: top;
}


td.right {
    border-right: 0px solid #bdc1c4;
    padding-left: 1em;
}

.ptop{
  margin-top:0px;
}

.pbottom{
  margin-bottom:0px;
}

.cvpublist{
  list-style: none;
  padding-left: 0;
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}

.cv_archive__item-excerpt {
    margin-bottom: 0;
    margin-top: 0;
}

.archive__cvtalk-excerpt {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.li_cv {
    margin-bottom: 0;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}


.cvsection {
    margin: 1.414em 0 0;
    padding-bottom: 0.5em;
    padding-top: 0.55em;
    font-size: 1.2em;
    font-family: 'PT Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial;
    color: #2a94ba;
    border-bottom: 1px solid #f2f3f3;
    background-color: rgba(46, 162, 204, 0.08);
    border-left: solid 5px #2ea2cc;
    padding-left: 1%;
    margin-bottom: 1.5em;
}

.archive__talk-title {
    margin-top: 0.25em;
}

.archive__talk-excerpt {
    margin-bottom: 0.25em;
}

#main > div.archive > ul:nth-child(3) {
    list-style-type:none;
    padding-left: 0;
}


.archive__item-excerpt {
  margin-top: 0;
  /*font-size: $type-size-6;*/
  font-size: 1em;
  font-family: 'PT Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial;

  & + p {
    text-indent: 0;
    font-family: 'PT Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial !important;
  }
}

.archive__item-teaser {
  border-radius: $border-radius;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.archive__item:hover {
  .archive__item-teaser {
    box-shadow: 0 0 10px rgba(#000, 0.25);
  }

  .archive__item-title {
    text-decoration: none;
    font-family: 'PT Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial;
  }
}

@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px)
and (orientation : portrait) { .archive {
    width: 100% !important;
} }




/*
   List view
   ========================================================================== */

.list__item {
  @include breakpoint($medium) {
    padding-right: $right-sidebar-width-narrow;
  }

  @include breakpoint($large) {
    padding-right: $right-sidebar-width;
  }

  @include breakpoint($x-large) {
    padding-right: $right-sidebar-width-wide;
  }

  .page__meta {
    margin: 0 0 4px;
    margin-bottom: 0.3em;
  }
}




/*
   Grid view
   ========================================================================== */

.grid__item {
  margin-bottom: 2em;

  .page__meta {
    margin: 0 0 4px;
  }

  .archive__item-title {
    margin-top: 0.5em;
    font-size: $type-size-5;
    font-family: 'PT Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial;
  }

  .archive__item-excerpt {
    display: none;
    font-family: 'PT Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial;
  }

  @include breakpoint($small) {
    @include gallery(5 of 10);
    .archive__item-teaser {
      max-height: 200px;
    }
  }

  @include breakpoint($medium) {
    margin-left: 0; /* reset before mixin does its thing*/
    margin-right: 0; /* reset before mixin does its thing*/
    @include gallery(2.5 of 10);

    .archive__item-teaser {
      max-height: 120px;
    }

    .archive__item-excerpt {
      display: block;
      /*font-size: $type-size-6;*/
      font-size: 1em;
      font-family: 'PT Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial;
    }
  }
}


/*
   Features
   ========================================================================== */

.feature__wrapper {
  @include clearfix();
  margin-bottom: 2em;
  border-bottom: 1px solid $border-color;
}

.feature__item {
  margin-bottom: 2em;
  font-size: 1.25rem;

  @include breakpoint($small) {
    margin-bottom: 0;
    @include gallery(4 of 12);

    .feature__item-teaser {
      max-height: 200px;
      overflow: hidden;
    }
  }

  &--left {
    @include full();
    font-size: 1.25rem;

    .archive__item-teaser {
      margin-bottom: 2em;
    }

    @include breakpoint($small) {
      .archive__item-teaser {
        @include span(5 of 12);
      }

      .archive__item-body {
        @include span(7 of 12 last);
        @include prefix(0.5 of 12);
        @include suffix(1 of 12);
      }
    }
  }

  &--right {
    @include full();
    font-size: 1.25rem;

    .archive__item-teaser {
      margin-bottom: 2em;
    }

    @include breakpoint($small) {
      text-align: right;

      .archive__item-teaser {
        @include span(5 of 12 rtl);
      }

      .archive__item-body {
        @include span(7 of 12 last rtl);
        @include prefix(0.5 of 12);
        @include suffix(1 of 12);
      }
    }
  }

  &--center {
    @include full();
    font-size: 1.25rem;

    .archive__item-teaser {
      margin-bottom: 2em;
    }

    @include breakpoint($small) {
      text-align: center;

      .archive__item-teaser {
        margin: 0 auto;
        width: span(5 of 12);
      }

      .archive__item-body {
        margin: 0 auto;
        width: span(7 of 12);
      }
    }
  }
}
