/* ==========================================================================
   ARCHIVE
   ========================================================================== */

.archive {
  margin-bottom: 2em;

  @include breakpoint($medium) {
    @include span(12 of 12);
  }

  @include breakpoint($large) {
    @include span(10 of 12 last);
    @include prefix(0.5 of 12);
  }

  a {
    color: inherit;
    text-decoration: none;
  }

width:78% !important;

}

.archive a {
    color: #288caf;
}

.paperlink{
  color:#494e52 !important;
  line-height: 1.5em;
}

.recent_highlights{
  font-weight:600;
}

.researchimg{
  margin-top: 0px;
}

#main > div.archive > h2.researchtitle{
  border-bottom: 1px solid #f2f3f3;
  font-size: 1.185em;
}

.archive__subtitle {
  margin: 1.414em 0 0;
  padding-bottom: 0.5em;
  padding-top: 0.55em;
  font-size: 0.85em;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  /*color: mix(#fff, $gray, 25%);*/
  /*border-bottom: 1px solid $border-color;*/
  color: #288caf;
  border-bottom: 1px solid #f2f3f3;
  background-color: rgba(46, 162, 204, 0.08);
  border-left: solid 5px #2ea2cc;
  padding-left: 1%;
  margin-bottom: 1.5em;


  + .list__item .archive__item-title {
    margin-top: 0.6em;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 0.9em;
    margin-bottom: 0.2em;
  }
}

.media_iframe{
  width:100%;
  height: 350px;;
}

body > div.main-view.container-fluid.ng-scope > div > div.person-header.row > div.col-md-9.person-about{
  display: none;
}

body > div.main-view.container-fluid.ng-scope > div > div.person-header.row{
  display: none;
}

#pitch-banner{
  display: none !important;
}

#journalline{
  margin-top: 0.05em;
  margin-bottom: 0.5em;
  float:left;
}

#journalline_nometrics{
  margin-top: 0.05em;
  margin-bottom: 0.5em;
}

#journalauthorsline{
  margin-top:0.4em;
  margin-bottom:0.1em;
  line-height: 1.2em;
}


.archive__item-title {
  margin-bottom: 0.65em;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  margin-bottom: 0.2em;

  a + a {
    opacity: 0.5;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 0.5em;
  }
}

/* remove border*/
.page__content {

  .archive__item-title {
    margin-top: 1em;
    border-bottom: none;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size:0.9em;
    margin-bottom: 0.2em;

  }
}

.page__content a:hover {
    text-decoration:none;
    color: #288caf;

}

.page__content a{
    text-decoration:none;
      color: #288caf;
}

.page__content p {
  text-align: justify;
  font-size:0.85em !important;
}

.page__content li {
  font-size:0.85em !important;
}

.journal{

    font-family: 'Open Sans', Helvetica, Arial, sans-serif !important;
    color: #9fa0a6 !important;
    font-size: 0.85em !important;
    opacity:0.85;
}

.journalauthors{

    font-family: 'Open Sans', Helvetica, Arial, sans-serif !important;
    font-size: 0.85em !important;
    margin-top: 0.215em;

}

.journalauthors_report{

    font-family: 'Open Sans', Helvetica, Arial, sans-serif !important;
    font-size: 0.85em !important;
    margin-top: 0.215em;
}

/* Rogue paragraph */
#main > div.archive > div > article > p:nth-child(4){
  /*display:none;*/
}


.__dimensions_badge_embed__{
  display: inline-block !important;
}


.altmetric-embed{
  display: inline-block;
  margin-left: 0.2em;
}

.aboutPhil {
    margin-top: 0;
    line-height: 1.2;
    color: #288caf;
    font-size: 1.25em !important;
    margin-bottom: 0.5em;
}

.masthead__inner-wrap {

    font-size:0.9em !important;
}

#listtalks{
  margin-top:2em;
  width: 840px;
}

body > div.main-view.container-fluid.ng-scope > div > div.person-header.row{
  display:none !important;
}

/* Font size for all items on grants page */

.donor_meta, .grant_link, .grant_project{
  font-size:0.85em;
}

.grantamount{
color: #9fa0a6;

}

.amount_meta {
    margin-bottom: 0.2em;
}

.donor_meta {
    margin-top: 0;
    margin-bottom: 0.2em;
}

.donor {
    color:#9fa0a6;
}

.fa.fa-thumbs-o-up {
    color:#9fa0a6;
}

a.grant_link {
    color: #288caf;
}

.fa.fa-bookmark-o {
    color: #9fa0a6 !important;
    font-size:0.85em;
}

.fa.fa-usd {
    color: #9fa0a6;
}

.fa.fa-shield{
   color: #288caf;
}

.cvyear {
    color:#288caf;
}

.cvtalkslist {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}

.cvrole {
    font-weight: bold;
}

.cvwho {
    color: #a9adaf;
}

.cvlocation {
    color: #a9adaf;
}

a.url_link {
    color: #288caf;
}

a.cvlink {
    color: #288caf;
}

a.linkslides {
    color: #288caf;
}

a.readmorelink{
    color: #288caf;
}

table {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif !important;
    border: 0px solid #bdc1c4;
    font-size:0.85em !important;
}

td {
    padding: 0.5em;
    border-bottom: 10px solid #ffffff;
    border-right: 1px solid #bdc1c4;
    padding-top: 0.1em;
    padding-bottom:0.1em;
}

td.left {
    width: 12%;
    border-right: 1px solid #bdc1c4;
    color: #a9adaf;
    padding-right: 0em;
    vertical-align: top;
}


td.right {
    border-right: 0px solid #bdc1c4;
    padding-left: 1em;
}

.ptop{
  margin-top:0px;
}

.pbottom{
  margin-bottom:0px;
}

.cvpublist{
  list-style: none;
  padding-left: 0;
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}

.cv_archive__item-excerpt {
    margin-bottom: 0;
    margin-top: 0;
}

.archive__cvtalk-excerpt {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.archive__cvgrant-excerpt {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.li_cv {
    margin-bottom: 0;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}


.cvsection {
    margin: 1.414em 0 0;
    padding-bottom: 0.5em;
    padding-top: 0.55em;
    font-size: 1.2em;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    color: #288caf;
    border-bottom: 1px solid #f2f3f3;
    background-color: rgba(46, 162, 204, 0.08);
    border-left: solid 5px #2ea2cc;
    padding-left: 1%;
    margin-bottom: 1.5em;
}

.mediasection {
    margin: 1.414em 0 0;
    padding-bottom: 0.5em;
    padding-top: 0.55em;
    font-size: 1.2em;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    color: #288caf;
    border-bottom: 1px solid #f2f3f3;
    background-color: rgba(46, 162, 204, 0.08);
    border-left: solid 5px #2ea2cc;
    padding-left: 1%;
    margin-bottom: 1.5em;
}

.archive__talk-title {
    margin-top: 0.25em;
    font-size: 0.85em;
}

.archive__talk-excerpt {
    margin-bottom: 0.25em;
    font-size: 0.85em;
}

#main > div.archive > ul:nth-child(3) {
    list-style-type:none;
    padding-left: 0;
}

#main > div.archive > p{
font-size: 0.85em !important;

}

#main>div.archive>p{
font-size:16px;

}

.page__content p {
    font-size:0.85em !important;
}


.archive__item-excerpt {
  margin-top: 0.75em;
  /*font-size: $type-size-6;*/
  font-size: 0.85em;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  margin-bottom: 0.75em;

  & + p {
    text-indent: 0;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif !important;
    font-size:0.85em;
  }
}

.archive__item-teaser {
  border-radius: $border-radius;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.archive__item:hover {
  .archive__item-teaser {
    box-shadow: 0 0 10px rgba(#000, 0.25);
  }

  .archive__item-title {
    text-decoration: none;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size:0.9em !important;
    margin-bottom: 0.2em;
  }
}

@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px)
and (orientation : portrait) { .archive {
    width: 100% !important;
} }




/*
   List view
   ========================================================================== */

.list__item {
  @include breakpoint($medium) {
    padding-right: $right-sidebar-width-narrow;
  }

  @include breakpoint($large) {
    padding-right: $right-sidebar-width;
  }

  @include breakpoint($x-large) {
    padding-right: $right-sidebar-width-wide;
  }

  .page__meta {
    margin: 0 0 4px;
    margin-bottom: 0.3em;
    font-size:0.85em;
  }
}

#papercitation{
  font-size:0.85em !important;
}


/*
   Grid view
   ========================================================================== */

.grid__item {
  margin-bottom: 2em;

  .page__meta {
    margin: 0 0 4px;
    font-size:0.85em;
  }

  .archive__item-title {
    margin-top: 0.5em;
    font-size: 0.9em !important;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    margin-bottom: 0.2em;
  }

  .archive__item-excerpt {
    display: none;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  }

  @include breakpoint($small) {
    @include gallery(5 of 10);
    .archive__item-teaser {
      max-height: 200px;
    }
  }

  @include breakpoint($medium) {
    margin-left: 0; /* reset before mixin does its thing*/
    margin-right: 0; /* reset before mixin does its thing*/
    @include gallery(2.5 of 10);

    .archive__item-teaser {
      max-height: 120px;
    }

    .archive__item-excerpt {
      display: block;
      /*font-size: $type-size-6;*/
      font-size: 0.85em;
      font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    }
  }
}


/*
   Features
   ========================================================================== */

.feature__wrapper {
  @include clearfix();
  margin-bottom: 2em;
  border-bottom: 1px solid $border-color;
}

.feature__item {
  margin-bottom: 2em;
  font-size: 1.25rem;

  @include breakpoint($small) {
    margin-bottom: 0;
    @include gallery(4 of 12);

    .feature__item-teaser {
      max-height: 200px;
      overflow: hidden;
    }
  }

  &--left {
    @include full();
    font-size: 1.25rem;

    .archive__item-teaser {
      margin-bottom: 2em;
    }

    @include breakpoint($small) {
      .archive__item-teaser {
        @include span(5 of 12);
      }

      .archive__item-body {
        @include span(7 of 12 last);
        @include prefix(0.5 of 12);
        @include suffix(1 of 12);
      }
    }
  }

  &--right {
    @include full();
    font-size: 1.25rem;

    .archive__item-teaser {
      margin-bottom: 2em;
    }

    @include breakpoint($small) {
      text-align: right;

      .archive__item-teaser {
        @include span(5 of 12 rtl);
      }

      .archive__item-body {
        @include span(7 of 12 last rtl);
        @include prefix(0.5 of 12);
        @include suffix(1 of 12);
      }
    }
  }

  &--center {
    @include full();
    font-size: 1.25rem;

    .archive__item-teaser {
      margin-bottom: 2em;
    }

    @include breakpoint($small) {
      text-align: center;

      .archive__item-teaser {
        margin: 0 auto;
        width: span(5 of 12);
      }

      .archive__item-body {
        margin: 0 auto;
        width: span(7 of 12);
      }
    }
  }
}
